<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronesim.smarthouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.LoginActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".account.SignUpActivity"
            android:theme="@style/AppTheme.Login" />
        <activity android:name=".home.room.RoomActivity" />
        <activity android:name=".home.device.LightActivity" />
        <activity android:name=".home.device.ThermostatActivity"></activity>
    </application>

</manifest>